<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Weather Data API</h1>
<p>URL Format to access data with station and date: http://127.0.0.1:5000/api/v1/station/date</p>
<p>Example: http://127.0.0.1:5000/api/v1/10/1988-10-25</p>
<br>
<p>URL Format to access data with station and year: http://127.0.0.1:5000/api/v1/yearly/station/year</p>
<p>Example: http://127.0.0.1:5000/api/v1/yearly/10/1988</p>
<br>
<p>URL Format to access data with station: http://127.0.0.1:5000/api/v1/date</p>
<p>Example: http://127.0.0.1:5000/api/v1/10</p>
<br>
<p>{{data|safe}}</p>
</body>
</html>